* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #048;
}

.main-nav {
    background: rgb(10, 74, 117);
}

.main-nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}

.main-nav__item {
    text-align: center;

}

.main-nav__link {
    color: #f5f5f5;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.main-nav__link:hover {
    color: #b5d5f5;
    text-decoration: underline;
}

.main-footer {
    background-color: #222;
    color: #e7e7e7;
}

@media (min-width: 768px) {
    .main-nav__list {
        flex-direction: row;
    }
}